
/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    padding: 0;
}

/* ----------------------------CABEÇALHO DO SITE----------------------------*/
header {
    font-size: 12px;
    margin-top: 25px;
}

/* LOGO DO SITE */

.logofw {
    width: 194px; 
    height: 146px; 
    position: absolute; /* Posicionamento absoluto em relação ao seu contêiner pai */
    top: 2px; /* Posição a partir do topo do cabeçalho/banner */
    left: 30.2%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Desloca metade da sua largura para esquerda */
    background-color: #1b8e99; /* Cor de fundo do logo */
    
}

/* PRIMEIRO MENU */

.menu {
    background-color: #1b8e99;
    text-align: right;
    padding-top: 45px;
    align-items: center; /* Isso centraliza verticalmente os botões do contêiner .menu */
    justify-content: flex-end; /* Isso alinha os botões à direita.*/
    padding: 16px 0;
}

.menu button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 12px;
    margin: 0 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu li:hover {
    background-color: #92c9ce;
    color: white;
    border-bottom: 30px;
    border-top: 30px;
    margin-bottom: -32px;
    margin-top: -32px;
    padding-bottom: 21px;
    padding-top: 21px;
    transition: background-color 0.3s ease;
}
.menu-items {
    align-items: center;
}
.menu-items li {
    display: inline-block;
}

.menu #transition {
    background-color: #92c9ce;
}

/* DIV COM IMAGEM BACKGROUND */

.banner {
     background-image: url('../img/banner.fw.png'); /* Corrigido para corresponder ao nome do arquivo correto */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 324px;
    background-color: #1b8e99; /* Cor de fundo do banner se a imagem não carregar */
}

/* SEGUNDO MENU */

.cabecalho {
    background-color: #660000; 
    text-align: left;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 45px;
    padding: 16px 0;
}

.cabecalho a {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 12px;
    margin: 0 12px;
    text-decoration: none;
    cursor: pointer;
}

.cabecalho a:hover {
    background-color: #ffffff;
    color: #660000;
    margin-bottom: 20px;
    border-bottom: 30px;
    padding-bottom: 20px;
    padding-top: 22px;
    transition: background-color 0.3s ease;
}

/* ----------------------------SEÇÃO LOJA VIRTUAL---------------------------- */ 

.iconeDrone {
    height: 77px;
    width: 125px;
    position: absolute;
    top: 455px; /* Posição a partir do topo do cabeçalho/banner */
    right: 20.7%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Desloca metade da sua largura para esquerda */
}

.drones {
    display: flex;
    place-content: space-between;
    min-height: 376px;
    max-height: 376px;
}

.img-drone {
    max-height: 280px;
}

/* estilização drone 1 */ 

.drone1 {
    max-width: 300px;
    border: 2px solid #1b8e99;
}

.background-footer-drone {
    background-color: #1b8e99;
    height: 96px;
    display: flex;
    align-items: center;
    margin-top: 26px;
}

.drone-title {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    padding: 8px;
    background-color: #b2d3d6;
    color: #1b8e99;
    margin: 4px;
}

.drone-content {
    max-width: 240px;
    word-wrap: break-word;
    font-size: 12px;
    color: #92c9ce;
    margin-left: 8px;
}

.footer-drone {
    display: flex;
    align-items: center;

}

.footer-drone-text {
    display: flex;
    flex-direction: column;
    padding-right: 18px;
    margin-left: 8px;
}


.drone-footer-1 {
    color: #ffffff;
    font-size: 30px;
    font-family: Tahoma, sans-serif;
    font-weight: normal;
}

.drone-footer-2 {
    color: #ffffff;
    font-size: 14px;
    font-family: Tahoma, sans-serif;
    font-weight: normal;
}

.carrinho {
    background-color: #ffffff;
    width: 60px;
    border-radius: 4px;
    margin-left: 20px;
}
.carrinho2 {
    background-color: #ffffff;
    width: 60px;
    border-radius: 4px;
}

/* estilização drone 2 */

.drone2 {
    max-width: 300px;
    border: 2px solid #660000;
}

.background-footer-drone-drone-red {
    background-color: #660000;
    height: 96px;
    display: flex;
    align-items: center;
    margin-top: 26px;
}

.drone-title-drone-red {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    padding: 8px;
    background-color: #b19090;
    color: #660000;
    margin: 4px;
}

.drone-content-drone-red {
    max-width: 240px;
    word-wrap: break-word;
    font-size: 12px;
    color: #660000;
    margin-left: 8px;
}

.footer-drone-drone-red {
    display: flex;
    align-items: center;

}

.footer-drone-text-drone-red {
    display: flex;
    flex-direction: column;
    padding-right: 18px;
    margin-left: 8px;
}


.drone-footer-1-drone-red {
    color: #ffffff;
    font-size: 30px;
    font-family: Tahoma, sans-serif;
    font-weight: normal;
}

.drone-footer-2-drone-red {
    color: #ffffff;
    font-size: 14px;
    font-family: Tahoma, sans-serif;
    font-weight: normal;
}

.carrinho-drone-red {
    background-color: #ffffff;
    width: 60px;
    border-radius: 4px;
}

/* estilização drone 3 */ 

.drone3 {
    max-width: 300px;
    border: 2px solid #1b8e99;
}

.background-footer-drone2 {
    background-color: #1b8e99;
    height: 96px;
    display: flex;
    align-items: center;
    margin-top: 14px;
}

.divide-section{
    border: 8px solid #444444;
    margin-bottom: 16px;
}

/* estilização da section inteira */ 

.lojaVirtual {
    background-color: #ffffff;
    padding-bottom: 8px;
    padding-top: 30px;
}

/* estilização do título + linha */ 

.lojaVirtualContent {
    font-family: Arial, sans-serif;
    font-size: 22px;
    margin-bottom: 7px;
    margin-top: 10px;
    font-weight: bold;
    color: #660000;
}

.hrLojaVirtual {
    border: 2px solid #660000;
    width: 865px;
    margin-bottom: 23px;
}

.hrServices {
    border: 2px solid #1b8e99;
    width: 865px;
    margin-bottom: 23px;
}

.linha {
    background-color: #444444;
    padding-top: 20px;
    margin-top: 20px;
}

/* ----------------------------SEÇÃO DE SERVIÇOS---------------------------- */
.servicos {
    background-color: #ffffff; /* Branco */
    padding: 20px 0;
}

.services {
    display: flex;
    place-content: space-between;
    min-height: 311px;
    max-height: 311px;
}

.servicos h1 {
    font-family: Tahoma, sans-serif;
    font-size: 22px;
    color: #1c8e99; 
    text-align: left;
    padding-top: 25px;
    margin-top: -10px;
}

.servicos hr {
    border: 0;
    height: 3px;
    width: 865px;
    background-color: #1c8e99;
    margin: 10px 0;
    margin-bottom: 40px;
}

.servicos #imagemDrone2 {
    height: 77px;
    width: 125px;
    position: absolute;
    top: 980px; /* Posição a partir do topo do cabeçalho/banner */
    right: 20.3%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Desloca metade da sua largura para esquerda */
}

/* Estilização cursos */

.cursos {
    background-color: #ffffff;
    max-width: 304px;
    border: 2px solid #660000;
    border-bottom: 4px;
    
}

.cursos-content {
    max-width: 240px;
    word-wrap: break-word;
    font: tahoma, normal;
    font-size: 16px;
    color: #660000;
    margin-left: 8px;
}

.footer-cursos-text #descricao {
    color: #660000;
    font: tahoma, normal;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    margin-left: 8px;
    margin-bottom: 140px;
}

.background-footer-cursos {
    background-color: #660000;
    height: 10px;
    display: flex;
    align-items: center;
    margin-top: 140px;
}

/* Estilização manutenções*/

.manutencoes {
    background-color: #ffffff;
    max-width: 304px;
    border: 2px solid #1b8e99;
    border-bottom: 4px;
}

.manutencoes-content {
    max-width: 240px;
    word-wrap: break-word;
    font: tahoma, normal;
    font-size: 16px;
    color: #1b8e99;
    margin-left: 8px;
}

.footer-manutencoes-text #descricao {
    color: #1b8e99;
    font: tahoma, normal;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding-right: 18px;
    margin-left: 8px;
    margin-bottom: 140px;
}

.background-footer-manutencoes {
    background-color: #1b8e99;
    height: 10px;
    display: flex;
    align-items: center;
    margin-top: 140px;
}

/* Estilização Filmagens Aéreas */

.filmagemAerea {
    background-color: #ffffff;
    max-width: 304px;
    border: 2px solid #660000;
    border-bottom: 4px;
}

.filmagemAerea-content {
    max-width: 240px;
    word-wrap: break-word;
    font: tahoma, normal;
    font-size: 16px;
    color: #660000;
    margin-left: 8px;
}

.footer-filmagemAerea-text #descricao {
    color: #660000;
    font: tahoma, normal;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding-right: 14px;
    margin-left: 8px;
    margin-bottom: 140px;
}

.background-footer-filmagemAerea {
    background-color: #660000;
    height: 10px;
    display: flex;
    align-items: center;
    margin-top: 140px;
}

/* Estilização específica do footer com as imagens e texto */
footer {
    background-color: white;
    color: #ffffff;
    padding: 50px 0;
    font-family: Tahoma, sans-serif;
    font-size: 14px;
}

footer .drones {
    display: block;
    overflow: auto;
}

footer .drones img {
    vertical-align: top;
}

footer .drones img.segundo {
    margin-left: 250px;
}

footer .drones img.terceiro {
    margin-left: 105px;
}

footer .drones img.professor {
    position: absolute;
    margin-top: -30px;
    margin-left: 80px;
}

footer .content {
    background-color: #1b8e99;
    display: flex;
    align-items: center;
    padding: 0 25px;
    height: 96px;
    margin-top: -331px;
}

footer .content img {
    width: 130px;
    height: 32.5px;
}

footer .content .text {
    margin-left: 70px;
}

footer .content .text p {
    font-family: Tahoma, sans-serif;
    padding-right: 130px;
    color: white;
    font-size: 14px;
}

footer .prof {
    display: flex;
    height: 26px;
    justify-content: right;
    padding: 0 130px;
    align-items: center;
    background-color: #660000;
}

footer .prof p {
    color: white;
    font-size: 14px;
}