
/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    padding: 0;
}

/* CABEÇALHO DO SITE*/
header {
    font-size: 12px;
    margin-top: 25px;
}

/* LOGO DO SITE */

.logofw {
    width: 194px; 
    height: 146px; 
    position: absolute; /* Posicionamento absoluto em relação ao seu contêiner pai */
    top: 2px; /* Posição a partir do topo do cabeçalho/banner */
    left: 32%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Desloca metade da sua largura para esquerda */
    background-color: #1b8e99; /* Cor de fundo do logo */
    
}

/* PRIMEIRO MENU */

.menu {
    background-color: #1b8e99;
    text-align: right;
    padding-top: 45px;
    align-items: center; /* Isso centraliza verticalmente os botões do contêiner .menu */
    justify-content: flex-end; /* Isso alinha os botões à direita.*/
    padding: 16px 0;
}

.menu button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 12px;
    margin: 0 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu button:hover {
    background-color: #92c9ce;
}

.menu #transition {
    background-color: #92c9ce;
}

/* DIV COM IMAGEM BACKGROUND */

.banner {
     background-image: url('../img/banner.fw.png'); /* Corrigido para corresponder ao nome do arquivo correto */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 324px;
    background-color: #1b8e99; /* Cor de fundo do banner se a imagem não carregar */
}

/* SEGUNDO MENU */

.cabecalho {
    background-color: #660000; 
    text-align: left;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 45px;
    padding: 16px 0;
}

.cabecalho a {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 12px;
    margin: 0 12px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cabecalho a:hover {
    background-color: #ffffff;
    color: #660000;
}

/* Seção Loja Virtual 
.lojaVirtual {
    background-color: #ffffff; /* Branco *
    padding: 20px 0;
}

.lojaVirtual h1 {
    font-family: Tahoma, sans-serif;
    font-size: 30px;
    color: #000000; /* Preto *
    text-align: center;
}

.lojaVirtual hr {
    border: 0;
    height: 1px;
    background-color: #666000;
    margin: 10px 0;
}

/* Seção de produtos *
.drone1 img,
.drone2 img,
.drone3 img {
    width: 280px; /* Ajuste para a largura real das imagens *
}

/* Seção de Serviços *
.servicos {
    background-color: #ffffff; /* Branco *
    padding: 20px 0;
}

.servicos h1 {
    font-family: Tahoma, sans-serif;
    font-size: 30px;
    color: #666000; /* Cor quaternária *
    text-align: center;
}

.servicos hr {
    border: 0;
    height: 1px;
    background-color: #11be89;
    margin: 10px 0;
}

/* Estilização das imagens e texto das subseções de Serviços *
.cursos img,
.manutencoes img,
.filmagensAereas img {
    width: 300px; /* Ajuste para a largura real das imagens *
    display: inline-block;
    margin: 10px;
}
*/

footer {
    background-color: white;
    color: #ffffff;
    padding: 5px 0;
    font-family: Tahoma, sans-serif;
    font-size: 14px;
}

footer .drones {
    display: block;
    overflow: auto;
}

footer .drones img {
    vertical-align: top;
}

footer .drones img.segundo {
    margin-left: 250px;
}

footer .drones img.terceiro {
    margin-left: 105px;
}

footer .drones img.professor {
    position: absolute;
    margin-top: -34px;
    margin-left: 80px;
}

footer .content {
    background-color: #1b8e99;
    display: flex;
    align-items: center;
    padding: 0 25px;
    height: 96px;
}

footer .content img {
    width: 130px;
    height: 32.5px;
}

footer .content .text {
    margin-left: 70px;
}

footer .content .text p {
    font-family: Tahoma, sans-serif;
    padding-right: 130px;
    color: white;
    font-size: 14px;
}

footer .prof {
    display: flex;
    height: 26px;
    justify-content: right;
    padding: 0 130px;
    align-items: center;
    background-color: #660000;
}

footer .prof p {
    color: white;
    font-size: 14px;
}